:root{
    background-color:  rgb(36, 34, 33);
}

nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    padding-top: -20px;
    background-color: rgb(36, 34, 33);
    width: 101%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 2;
}

nav > a{
    font-family: "calibri";
    font-style: bold;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:rgb(168, 168, 168);
}

#options{
    display: grid;
    align-content: center;
    grid-template-columns: 100%;
    top: 50px;
    justify-content: start;    
    text-align: left;
    flex-wrap: wrap;
    z-index: 1;
}

#portfolio{
    background-image: url(../assets/portfolio.jpg);
    background-position-y: -260px;
    padding-left: 3vw;
    padding-top: 1vh;
    background-size: 100vw;  
}

#aboutMe{
    background-image: url(../assets/aboutMe.jpg);
    background-position-y: -10px;
    padding-left: 3vw;
    padding-top: 1vh;
    background-size: 100vw;
}

.title {
    font-family: monospace;
    color: white;
    font-size: 8vw;
    text-shadow: 2px 2px black;
    letter-spacing: -6px;
    font-style: bold;
    position: relative;
    top: 2vw;
    margin-bottom: 6%;
}

.subtitle {
    font-family: monospace;
    color: white;
    text-shadow: 2px 2px black;
    font-style: bold;
    font-style: italic;
    letter-spacing: -4px;
    font-size: 3vw; 
    position: relative;
    top: -6vw;
}

#aboutPage{
    display: grid;
    grid-template-areas: "text pictures";
}

.formPage{
    display: flex;
    min-height: 100vh;
}

.gridText, #MyHobbies, #heading, #form{
    padding-top: 5vh;
    grid-area: text;
    margin-right: 20px;
    margin-left: 20px;
}

#form{
    display: flex;
    width: 100%;
    height: 100%;
}

input, select, textarea{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.pagetitle {
    font-family: monospace;
    color: white;
    font-size: 2vw;
    position: relative;
    padding-bottom: 1vh;
}


.pageSubtitle {
    font-family: monospace;
    color: white;
    font-size: 1vw;
    position: relative;
    top: -20px;
}

.gridPictures{
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    grid-area: pictures;
}

.pic{
    width: 25vh;
    border-width: 20px;
    border-style: solid;
    border-color: white;
    margin: 10px;
}

#firstPar::first-letter{
    color: beige;
    font-size: 2em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}


* p, .text{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.disclaimer{
    font-size: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#port {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "gridText gridVid";
    grid-area: 75% auto;
    justify-content: space-evenly;
}

#contact{
    display: grid;
}
.portText{
    grid-area: gridText;
    padding-top: 5vh;
    margin-right: 50px;
    margin-left: 20px
}

.portVid{
    grid-area: gridVid;
    margin-top: 8vh;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(53, 53, 48); 
}

video{
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.space{
    margin-top: 20px;
    margin-bottom: 20px;
}

.space + .content{
    border-color: white;
    border-top-color: rgb(22, 21, 20);
    border-width: 20px;
    border-top-style: solid;
    background-color: rgb(36, 34, 33);
}

.content > .vids{
    width: 560px;
    margin: 20px;
    border-style: solid;
    padding: 0;
    border-width: 10px;
    border-color: rgb(53, 53, 48); 
}

.content > .picL{
    margin: 20px;
    border-style: solid;
    padding: 0;
    border-width: 10px;
    border-color: rgb(53, 53, 48);
    max-width: 560px;
    max-height: 315px;
    height: auto;
    width: auto;
    position: relative;
    left: -60px;
}

.content > .picP{
    margin: 20px;
    border-style: solid;
    padding: 0;
    border-width: 10px;
    border-color: rgb(53, 53, 48);
    max-width: 560px;
    max-height: 315px;
    height: auto;
    width: auto;
    position: relative;
    left: -60px;
}

#firstPar ~ #secondPar {
    color: beige;
}

ol {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 20px;
}

ul {
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

iframe{
    margin: 20px;
    border-style: solid;
    padding: 0;
    border-width: 10px;
    border-color: rgb(53, 53, 48); 
}

iframe[class="firstVideo"]{
    border-style: solid;
    padding: 0;
    border-width: 10px;
    border-color: beige;
}

@media (min-width: 600px) and (max-width:900px) {
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: -20px;
        background-color: rgb(36, 34, 33);
        width: 101%;
        padding-top: 1%;
        padding-bottom: 1%;
        z-index: 2;
        border-bottom: solid black;
    
    }
    nav > a{
        font-size: 4vw;
    }
    #aboutPage{
        display: grid;
        grid-template-areas: "text" "pictures";
    }
    input, select, textarea{
        justify-content: flex-start;
        width: 10%;
    }
    .pagetitle {
        text-align: center;
        font-family: monospace;
        color: white;
        font-size: 5vw;
        position: relative;
        padding-bottom: 1vh;
    }
    .gridText, #MyHobbies, #heading, #form{
        padding-top: 3vh;
        grid-area: text;
        margin-right: 20px;
        margin-left: 20px;
    }
    .gridPictures{
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-area: pictures;
    }
    #port {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "gridText" "gridVid";
        grid-area: 75% auto;
        justify-content: space-evenly;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #options{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;    
        text-align: center;
        z-index: 1;
    }
    #portfolio{
        background-image: url(../assets/portfolio.jpg);
        background-position-y: -260px;
        padding-left: 3vw;
        padding-top: 1vh;
        background-size: cover;  
    }
    
    #aboutMe{
        background-image: url(../assets/aboutMe.jpg);
        background-position-y: -10px;
        padding-left: 3vw;
        padding-top: 1vh;
        background-size: cover;
    }

    .title {
        font-family: monospace;
        color: white;
        font-size: 8vh;
        text-shadow: 2px 2px black;
        letter-spacing: -6px;
        font-style: bold;
        position: relative;
        top: 2vw;
        margin-bottom: 4%;
    }
    
    .subtitle {
        font-family: monospace;
        color: white;
        text-shadow: 2px 2px black;
        font-style: bold;
        font-style: italic;
        letter-spacing: -4px;
        font-size: 10vh; 
        position: relative;
        top: -6vw;
    }
    .title {
        font-family: monospace;
        color: white;
        font-size: 8vh;
        text-shadow: 2px 2px black;
        letter-spacing: -6px;
        font-style: bold;
        position: relative;
        top: 2vw;
        margin-bottom: 4%;
    }
    
    .subtitle {
        font-family: monospace;
        color: white;
        text-shadow: 2px 2px black;
        font-style: bold;
        font-style: italic;
        letter-spacing: -4px;
        font-size: 10vh; 
        position: relative;
        top: -6vw;
    }
    
    * input, * label, * option, * select, * textarea, * button{
        font-size: 5vw;
        min-width: 80vw;
    }

    .disclaimer{
        font-size: 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .pageSubtitle {
        text-align: center;
        font-family: monospace;
        color: white;
        font-size: 4vw;
        position: relative;
        top: -20px;
    }
}

@media (min-width: 0px) and (max-width:600px) {
    nav{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: -20px;
        background-color: rgb(36, 34, 33);
        width: 101%;
        padding-top: 1%;
        padding-bottom: 1%;
        z-index: 2;
        border-bottom: solid black;
    
    }
    nav > a{
        font-size: 5vw;
    }
    #aboutPage{
        display: grid;
        grid-template-areas: "text" "pictures";
    }
    input, select, textarea{
        justify-content: flex-start;
        width: 10%;
    }
    .pagetitle {
        text-align: center;
        font-family: monospace;
        color: white;
        font-size: 5vw;
        position: relative;
        padding-bottom: 1vh;
    }
    .gridText, #MyHobbies, #heading, #form{
        padding-top: 3vh;
        grid-area: text;
        margin-right: 20px;
        margin-left: 20px;
    }
    .gridPictures{
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-area: pictures;
    }
    #port {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "gridText" "gridVid";
        grid-area: 75% auto;
        justify-content: space-evenly;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #options{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;    
        text-align: center;
        z-index: 1;
    }
    #portfolio{
        background-image: url(../assets/portfolio.jpg);
        background-position-y: -260px;
        padding-left: 3vw;
        padding-top: 1vh;
        background-size: cover;  
    }
    
    #aboutMe{
        background-image: url(../assets/aboutMe.jpg);
        background-position-y: -10px;
        padding-left: 3vw;
        padding-top: 1vh;
        background-size: cover;
    }

    .title {
        font-family: monospace;
        color: white;
        font-size: 8vh;
        text-shadow: 2px 2px black;
        letter-spacing: -6px;
        font-style: bold;
        position: relative;
        top: 2vw;
        margin-bottom: 4%;
    }
    
    .subtitle {
        font-family: monospace;
        color: white;
        text-shadow: 2px 2px black;
        font-style: bold;
        font-style: italic;
        letter-spacing: -4px;
        font-size: 10vh; 
        position: relative;
        top: -6vw;
    }
    
    * input, * label, * option, * select, * textarea, * button{
        font-size: 5vw;
        min-width: 80vw;
    }

    .disclaimer{
        font-size: 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .pageSubtitle {
        text-align: center;
        font-family: monospace;
        color: white;
        font-size: 4vw;
        position: relative;
        top: -20px;
    }
}